<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin-all-infl</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script>
        var module = angular.module("mymodule",[]);
        var controller = module.controller("mycontroller",function($scope,$http)
    {
        $scope.jsonArrayEmails;
        $scope.jsonArrayAll;
        ///////////////////////////////////////////////////////////////
        $scope.getAllInfl=function()
                {
                    let url="/fetch-all-influencers";
                    $http.get(url).then(allIsWell,notWell);

                    function allIsWell(response)
                    {
                       // alert(JSON.stringify(response.data)) ;
                        $scope.jsonArrayAll=response.data;

                    }
                    function notWell(err)
                    {
                        alert(err)
                    }
                }
    })
    </script>
</head>
<body ng-app="mymodule" ng-controller="mycontroller">
    
    <center>
        <input type="button" class="btn btn-primary" id="buttons" value="All Influencers" ng-click="getAllInfl();">

        <div class="container">
            <table width="700" border="1" class="table" >
                <tr>
                 <th>Sr.No</th>
                 <th>Email ID</th>
                
                 <th>Pic</th>
                 <th>Name</th>
                 <th>Gender</th>
                 <th>Dob</th>
                 <th>Address</th>
                 <th>City</th>
                 <th>Contact</th>
                 <th>Field</th>
                 <th>Insta</th>
                 <th>Yt</th>
                  <th>Other</th>
                </tr> 
                <tr ng-repeat="obj in jsonArrayAll">
                     <td>{{$index+1}}</td>
                     <td>
                         {{obj.email}}
                     </td>
                    
                     <td>
                        <img src="uploads/{{obj.picpath}}" width="50" height="50" alt="">
                        <br>
                         {{obj.picpath}}
                     </td>
                     <td>
                         {{obj.iname}};
                     </td>
                     <td>
                        {{obj.gender}};
                    </td>
                    <td>
                        {{obj.dob}};
                    </td>
                    <td>
                        {{obj.address}};
                    </td>
                    <td>
                        {{obj.city}};
                    </td>
                    <td>
                        {{obj.contact}};
                    </td>
                    <td>
                        {{obj.field}};
                    </td>
                    <td>
                        {{obj.insta}};
                    </td>
                    <td>
                        {{obj.yt}};
                    </td>
                    <td>
                        {{obj.other}};
                    </td>   
                </tr>
    
         </table>
        </div>
    </center>
</body>
</html>